.block1,
.block {
    margin-left: 2%;
    font-size: small;
    color: #ffffff;
    display: inline-block;
}

.search {
    border-radius: 35px;
    outline: none;
    border: 0.5px solid #edebe6;
    background-color: #063340;
    margin-left: 2%;
    margin-top: 25px;
    width: 10%;
}
.seearch {
    border-radius: 20px !important;
    background-color: #052731;
}

@media (min-width: 992px) {
    .dropdown-menu .dropdown-toggle:after {
        border-top: 0.3em solid transparent;
        border-right: 0;
        border-bottom: 0.3em solid transparent;
        border-left: 0.3em solid;
    }
    .dropdown-menu .dropdown-menu {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu li {
        position: relative;
    }
    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }
    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }
    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}
.formaS {
    margin-left: -22%;
}

.nkar {
    margin-left: -5% !important;
}
.nkar1 {
    margin-left: 3% !important;
}
.nkar2 {
    margin-left: 2% !important;
}
.dropnext {
    border: 1px solid grey;
    margin-left: 6%;
}
.category {
    font-size: 18px;
    display: inline-block;
    cursor: pointer;
}

#selectSE {
    margin-left: 21px;
    display: block;
    margin-bottom: 5px;
}

#span {
    margin-left: 13px;
}
#spann {
    margin-left: -5px !important;
}
.lezu {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 1%;
    display: inline-block;
}

.sale {
    position: absolute;
    right: 2px;
    border-radius: 35px;
    padding: 0 15px;
    background-color: #072935;
}

.fa-star:before {
    content: "\f005";
}

.fa-star {
    color: #63c876;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.flex-container > div {
    width: 150px;
    margin: 10px;
    height: 175px;
}

#hidden2 {
    display: none;
}

.hidden2 {
    display: none !important;
}

.nkar {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(134, 134, 134), #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nkar1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(209, 208, 208), #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.peace {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(209, 208, 208), #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.peace1 {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(134, 134, 134), #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product {
    display: inline-block;
    border: 1px solid black;
    width: 12%;
    margin-left: 1%;
}

.product > img {
    width: 78%;
    margin-left: 11%;
    height: 131px;
}

.ad {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.ad > img {
    width: 13%;
    margin-bottom: 1%;
}

.all-products {
    display: inline;
}

.flex-container {
    display: inline-flex;
}

.flex-container > div {
    background-color: darkcyan;
    width: 122px;
    margin: 10px;
    text-align: center;
    height: 125px;
    font-size: 30px;
}

.big-box {
    height: 178px;
    margin-left: 2%;
}

.big-box img {
    margin-bottom: 7%;
    margin-left: -9%;
}

.nav-item {
    margin-bottom: -14px;
}

@media only screen and (max-width: 1000px) {
    .languages {
        margin-top: 2%;
        float: right;
    }
}

@media only screen and (max-width: 700px) {
    .apranqner1 {
        margin-left: 0% !important;
    }
    .apranqner2 {
        margin-left: 0% !important;
    }
}

.searchbar {
    height: 43px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 0px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
}

.searchbar > .search_input {
    padding: 8px 10px;
    width: 450px;
    caret-color: black;
}

.searchbar > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.lang {
    display: block;
}

.dropdown-item {
    width: 90%;
}

#toggleMenuButton {
    display: contents;
    padding-top: 24px;
}

#toggleMenuButton > img {
    float: left;
}

.sliderArrow {
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1),
        0px 0px 3px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1),
        0px 0px 3px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1),
        0px 0px 3px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1),
        0px 0px 3px rgba(0, 0, 0, 0.1), 0px 0px 3px rgba(0, 0, 0, 0.1),
        0px 0px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.arrowMain {
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 0 25px;
    position: absolute;
    top: 195px;
    z-index: 5;
}

/* mobile search */

.mobileform {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.mobileinp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.mobilefa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.mobileform:hover {
    width: 200px;
    cursor: pointer;
}

.mobileform:hover .mobileinp {
    display: block;
}

.mobileform:hover .mobilefa {
    background: #07051a;
    color: white;
}

.hiddensearch {
    cursor: pointer;
}

.hiddeninp {
    display: none;
    width: 0;
    border-radius: 15px;
    outline: none;
    border: 1px solid white;
    padding-left: 9px;
}

.hiddensearch:hover .hiddeninp {
    display: inline-block;
}

@media only screen and (max-width: 755px) {
    .languages {
        margin-top: 3%;
        float: right;
    }
}

.lang {
    margin-left: -6px;
    /* display: none; */
}

.toggle {
    width: 3%;
    cursor: pointer;
    display: none;
}

.fa-search {
    color: white;
    display: none;
}

@media only screen and (max-width: 999px) {
    .sale {
        right: -5px;
    }
}

@media only screen and (max-width: 1000px) {
    .fa-search {
        display: inline-block;
    }
    .search {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .toggle {
        width: 6%;
    }
}

#sel {
    margin-top: 11px;
    background: #072935;
    outline: none;
    border: none;
    color: white;
    opacity: 0;
    pointer-events: none;
}

@media only screen and (max-width: 991px) {
    .toggle {
        display: inline-block;
    }
    .dropdown-toggle {
        margin-top: -16px;
    }
    .amd {
        float: right;
        margin-top: 26px;
    }
    header .container .row {
        width: 101% !important;
    }
}
.show {
    display: inline-block;
}

.hide {
    display: none;
}
@media only screen and (max-width: 1099px) {
    .drop {
        margin-left: 3%;
    }
}

@keyframes anim {
    0% {
        width: 0px;
    }
    100% {
        width: 94px;
    }
}

@keyframes animclose {
    0% {
        width: 94px;
    }
    100% {
        width: 0px;
    }
}

.hiddeninp {
    animation: anim 2s;
}
body {
    overflow-x: hidden;
}

.buy {
    background-color: #072935;
    color: white;
    text-align: center;
    padding: 11px 40px;
    margin-left: -49px;
}

.cart {
    margin-left: -19px;
}

@media only screen and (max-width: 1199px) {
    .cart {
        margin-left: 0px;
    }
    .buy {
        margin-left: -14%;
    }
    .delivery {
        margin-left: -228%;
    }
}

.content {
    float: right;
    margin-top: -288px;
}

@media only screen and (max-width: 999px) {
    .sale {
        bottom: 160px;
    }
    .promo {
        width: 195%;
    }
    .salestr {
        margin-bottom: 5%;
    }
    .big-box {
        height: 0px;
    }
}
.salestr:hover {
    color: #713fb5 !important;
}
.salestr {
    margin-left: 15px;
    color: black !important;
    font-family: arialarmmedium;
}
.topprod {
    margin-left: 20px;
    margin: 10px 20px;
    font-family: arialarmmedium;
}

.topprod > a:hover {
    color: #713fb5 !important;
}

.topprod > a {
    color: black !important;
}

.gav {
    margin-top: -22% !important;
}
@media only screen and (max-width: 1201px) {
    .sale {
        bottom: 160px;
    }
    .promo {
        width: 195%;
    }
    .single {
        margin-left: 2%;
    }
}

.delivery1 {
    margin-left: -6%;
    font-family: Arial-Arm-Regular;
}

.ssale {
    display: flex;
    align-items: center;
}

.ssale div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #231d4a;
    color: white;
    border-radius: 50%;
    font-family: Arial-Arm-Regular;
    font-size: 12px;
    padding: 5px;
    height: 45px;
    width: 45px;
    margin-right: 6px;
}
.ssale .newPrice {
    text-decoration: line-through;
    color: grey;
}
@media only screen and (max-width: 992px) {
    .single {
        margin-left: 3%;
    }
    .ssale {
        margin-left: -12px;
    }
    .big {
        margin-left: -5%;
    }
    .description {
        margin-left: 18px;
    }
    .descdiv {
        padding-left: 10%;
    }
    .delivery {
        margin-left: 0%;
    }
}

@media only screen and (max-width: 585px) {
    .single {
        margin-left: 3%;
    }
    .imgdiv {
        height: 368px;
        width: 100%;
        z-index: -1;
    }
}

.miniprod1,
.miniprod {
    width: 23%;
    border: 1px solid #edebe6;
    margin-top: 2%;
    height: 23%;
    cursor: pointer;
}

.navbar {
    /*background-color: #072935;*/
    position: fixed;
    bottom: 0%;
    width: 100%;
    justify-content: space-around;
    transition: all 0.3s ease 0s;
    background-color: rgb(13, 7, 53);
    flex-wrap: nowrap;
}

.miniprod1 {
    margin-left: -15px;
}

@media only screen and (max-width: 768px) {
    .single {
        margin-left: 4%;
    }
}

.hidden {
    display: none;
}

.hidden3 {
    display: none;
}

.plus-minus-input {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.plus-minus-input .input-group-field {
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 8%;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.plus-minus-input .input-group-button .circle {
    border-radius: 50%;
    outline: none;
    border: 1px solid grey;
}

.promo {
    width: 141%;
}

.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    color: orangered;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
    .searchBox:hover > .searchInput {
        width: 150px;
        padding: 0 6px;
    }
}

.fa-search:hover .search {
    display: block;
}

.dropdown-menu li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -20px;
}

.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(90deg);
}

.dropdown-toggle:hover .dropdown-menu {
    display: block;
}

.dropbtn {
    font-size: 13px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 130% !important;
}

.dropbtn:focus {
    outline: none;
    border: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 100%;
    top: 0;
    z-index: 555;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 0 40px;
}

#customers tbody {
    display: flex;
    flex-wrap: wrap;
    width: 395px;
    justify-content: flex-start;
}

#customers td,
#customers th {
    border: none;
    padding: 13px;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

th,
tr,
td {
    cursor: pointer;
}

ul.ks-cboxtags {
    list-style: none;
}

ul.ks-cboxtags li {
    display: inline;
}

ul.ks-cboxtags li label {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.2s;
}

.i {
    border: 2.5px solid #072935 !important;
    /* background-color: green; */
}

.i1 {
    box-shadow: 0px 0px 3px 2px rgb(0, 0, 0, 0.6);
}

ul.ks-cboxtags li label {
    cursor: pointer;
    border: 1px solid black;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    transform: rotate(-360deg);
    transition: transform 0.3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    /* background-color: blue;
    color: white; */
    transition: all 0.2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
    display: absolute;
}

ul.ks-cboxtags li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* 3rd ej*/

.big-box-checkout {
    margin-left: 2%;
}

.big-box-checkout img {
    margin-bottom: 7%;
    margin-left: -9%;
}

/* 4rd ej */

@media screen and (max-width: 360px) {
    .butn {
        margin-left: -28px;
    }
}
@media screen and (max-width: 600px) {
    .sliderMain {
        margin: 0;
        padding: 0;
    }
}
.butn {
    background-color: #0d0735;
    color: white;
    height: 41px;
    width: 180px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 37px;
}

/*  */
.imgdiv {
    cursor: pointer;
    width: 445px;
    background-position: center;
    height: 445px;
    background-size: contain;
    background-repeat: no-repeat;
}
#newDiv {
    display: none;
    position: fixed;
    z-index: 110;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}
.newImg {
    margin: auto;
    display: block;
    width: 35%;
    height: 500px;
    animation-name: anim;
    background-size: contain;
    background-position: 50%;
    animation-duration: 0.2s;
    background-repeat: no-repeat;
}
.spanX {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    cursor: pointer;
}
.divHide {
    display: none;
}
.divShow {
    display: block;
}
@keyframes anim {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
.regBtn:hover {
    /*color:red;*/
    border: 2px solid red;
}
header {
    width: 100%;
    height: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0d0735;
    color: #98f2fe;
    font-size: small;
    font-family: arialarmmedium;
}

header a {
    text-decoration: none;
    color: #98f2fe;
}

header .logo div img {
    width: 150px;
}

#lightSlider img {
    max-width: 100%;
    max-height: 100%;
}
.boxShadow {
    -webkit-box-shadow: 6px 19px 49px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 19px 49px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 19px 41px 13px rgba(0, 0, 0, 0.75);
}
#single {
    position: relative;
}
.sliderLeft,
.sliderRight {
    font-size: 47px;
    height: 0;
    color: white;
}

.partsContainer {
    margin-left: 17px;
}

header .partsContainer a {
    text-decoration: none;
}

header .partsContainer a {
    margin: 0 5px;
}

header .partsContainer img {
    width: 18px;
}

header .partsContainer div {
    background-color: #231d4a;
}

header .partsContainer a:first-child {
    margin-left: 0;
}

header .partsContainer a:last-child {
    margin-right: 0;
}

header .partsContainer a div span:last-child {
    font-size: 13px;
}

header .partsContainer a div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px;
    font-size: 13px;
}

.searchContainer {
    position: relative;
    height: 33px;
}

.searchContainer .searchButton {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.searchContainer .searchButton button {
    color: white;
}

.searchContainer input {
    background-color: #231d4a;
}

.searchContainer input:focus,
header form .searchContainer input:active {
    color: white;
    background-color: #073b4c;
    outline: none;
    border: none;
}

header .signIn {
    text-decoration: none;
    align-items: center;
    background-color: #231d4a;
    padding: 9px;
}

header .signIn img {
    width: 15px;
    margin-right: 10px;
}

header .signIn h6 {
    margin-bottom: 0px;
    font-size: 13px;
}

header .shoppingCart i {
    font-size: 20px;
}

header .languageExchangeContainer {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 100;
    background-color: #231d4a;
    padding: 7px;
    margin-right: 22px;
    margin-left: 5px;
}

currentLanguageExchange :hover {
    color: #0056b3 !important;
}

header .languageExchangeContainer .currentLanguageExchange {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    font-size: 13px;
}

header .languageExchangeContainer .languageExchange {
    position: absolute;
    display: none !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 48px;
    left: 57%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #0d0735;
    color: #98f2fe;
    max-height: 0px;
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.75);
}

.activeMenu {
    opacity: 0 !important;
    transition: 1s;
}

header .languageExchangeContainer .languageExchange.langExchActive {
    max-height: 500px;
    -webkit-transition: 1s;
    transition: 1s;
    display: block !important;
}

header .languageExchangeContainer .languageExchange img {
    padding-top: 10px;
    width: 32px;
}

header .languageExchangeContainer .languageExchange .dropDown {
    padding-top: 10px;
    max-height: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all 1s;
    transition: all 1s;
}

header .languageExchangeContainer .languageExchange .dropDown a {
    text-decoration: none;
}

header .languageExchangeContainer .languageExchange .dropDown a img {
    padding: 0;
}

header .languageExchangeContainer .languageExchange .dropDown a:last-child {
    padding-bottom: 10px;
}

header .languageExchangeContainer .languageExchange .dropDown.l_e_active {
    max-height: 400px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

header .languageExchangeContainer .languageExchange .languageContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
}

header
    .languageExchangeContainer
    .languageExchange
    .languageContainer
    .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

header
    .languageExchangeContainer
    .languageExchange
    .languageContainer
    .language
    div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header
    .languageExchangeContainer
    .languageExchange
    .languageContainer
    .languagesBox
    a
    img {
    width: 10px;
    margin-right: 7px;
}

header
    .languageExchangeContainer
    .languageExchange
    .languageContainer
    .languagesBox
    a:nth-child(2) {
    margin: 10px 0;
}

header .languageExchangeContainer .languageExchange .exchangeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchange {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchange
    div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchangesBox
    button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    height: 16px;
    color: #98f2fe;
    margin: 0;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchangesBox
    button:hover {
    color: #007bff;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchangesBox
    svg {
    height: 13px;
    margin-right: 2px;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchangesBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchangesBox
    svg
    path {
    fill: #2885e0;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchangesBox
    form:nth-child(2)
    button {
    margin: 14px 0 13px;
}

header
    .languageExchangeContainer
    .languageExchange
    .exchangeContainer
    .exchangesBox
    form:nth-child(3)
    button {
    margin-bottom: 12px;
}

.language div,
.exchange div {
    align-items: center;
}

.bottomProduct {
    margin: 20px 0 0;
}

.productItem {
}

.productItem img {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #edebe6;
}

.productItem p {
    font-size: 12px;
    margin-bottom: 2%;
    font-family: Arial-Arm-Regular;
}

.productItem span {
    font-size: 15px;
    color: #072935;
    font-family: arialarmmedium;
    white-space: nowrap;
}

.productItem i {
    font-size: 9px;
}

.productItem a {
    text-decoration: none;
}

.ItemSquare {
    background-size: contain;
    height: 154px;
    width: 154px;
    border: 1px solid #edebe6;
    background-repeat: no-repeat;
    background-position: 50%;
}

.ItemSquare:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

@media only screen and (max-width: 769px) {
    .mini-box > div {
        width: 224px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .mini-box > div {
        width: 199px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 445px) {
    .mini-box > div {
        width: 135px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1201px) {
    .mini-box > div {
        width: 183px;
        margin-left: 0;
    }
}

.sailContainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 18px;
}

/* @media only screen and (max-width: 1200px) {
    .productItem {
        flex: 21% !important;
    }
}
@media only screen and (max-width: 524px) {
    .productItem {
        flex: 34% !important;
    }
} */
/*.productItem:last-child {
        display: none;
    }

@media only screen and (max-width: 330px) {
    .quan {
        margin-left: 10px;
    }
} */
@media only screen and (max-width: 992px) {
    header .container .row .col-12 .row {
        padding: 0 0px !important;
    }
}

body {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.leftMenu {
    background-color: #0d0735;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: -120%;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1100;
}

.leftMenu.active {
    left: 0;
    transition: 0.3s;
}

.moda .modalMenuTop {
    width: 100%;
    background-color: #0d0735;
    position: relative;
    display: flex;
    justify-content: left;
    margin-left: 19px;
}
/* .modalClose {
    position: absolute;
    background-color: #231d4a;
    top: 58%;
    left:91%;
    transform: translateY(-50%);
    color: #98f2fe;
    font-size: 36px;
    padding: 8px 12px;
} */

.modalMenuContentBox {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 65px);
    box-sizing: border-box;
    padding: 0px 20px;
    font-family: Arial-Arm-Regular;
    font-size: 13px;
    overflow: hidden;
}

.modalMenuContentBox .mMCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.modalMenuContentBox .modalMenuItem {
    width: 75%;
    cursor: pointer;
}

.modalMenuContentBox .modalMenuItem .modalMenuBtn {
    min-width: 30vw;
    width: 100%;
    height: 30px;
    display: flex;
    margin-left: -19px;
    align-items: center;
    color: #98f2fe;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 15px;
}

.modalMenuContentBox .modalMenuItem .modalMenuBtn img {
    margin-left: 17px;
    width: 35px;
}

.modalMenuContentBox .modalMenuItem .modalItem {
    max-height: 0;
    overflow: hidden;
    transition: 0.5s;
    box-sizing: border-box;
}

.modalMenuContentBox .modalMenuItem .modalItem #customers {
    display: flex;
    flex-direction: column;
}

.modalMenuContentBox .modalMenuItem .modalItem #customers a {
    font-size: 19px;
    margin-bottom: 12px;
}

.modalMenuContentBox .modalMenuItem .modalItem a {
    text-decoration: none;
    color: white;
}

.modalMenuContentBox .modalMenuItem .modalItem.active {
    max-height: 3000px;
    transition: 2s;
}

.productContainer {
    min-height: calc(100vh - 310px);
}

.prodname,
.prodname1 {
    font-family: arialarmmedium;
}

.card-title {
    font-family: arialarmmedium;
}

body.modalni {
    overflow: hidden;
}

.categoryCircle {
    align-items: center;
    font-family: Arial-Arm-Regular;
    font-size: 13px;
}
.circleDiv {
    display: flex;
}

.circleDiv > div {
    display: flex;
}

.circleDiv img {
    width: 76%;
}

@media only screen and (min-width: 1200px) {
    #demo {
        margin-right: 38px !important;
        left: 4px !important;
    }
}

@media only screen and (max-width: 500px) {
    .signIn {
        margin-right: -40px !important;
    }
}

#promoButton {
    padding: 6px;
    font-size: 19px;
    position: absolute;
    left: 41%;
    top: 66%;
    background-color: #0d0735;
    color: #98f2fe;
    outline: none;
    border: 0;
    font-family: Arial-Arm-Regular;
    transform: translate(-50%);
}

.imgprod {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #98f2fe;
}

@media only screen and (max-width: 760px) {
    .cartText {
        display: flex;
        justify-content: flex-end;
    }
}

/*@media (max-width: 360px) {*/
/*    .productItem {*/
/*        flex: 1;*/
/*    }*/

/*    .productItem p {*/
/*        font-size: 20px;*/
/*        margin-bottom: 2%;*/
/*    }*/

/*    .productItem span {*/
/*        font-size: 20px;*/
/*        color: #072935;*/
/*    }*/

/*    .productItem>div {*/
/*        width: auto;*/
/*        transition: box-shadow .3s;*/
/*    }*/

/*    .productItem i {*/
/*        font-size: 15px;*/
/*    }*/

/*    .productItem a {*/
/*        text-decoration: none;*/
/*    }*/

/*    .ItemSquare {*/
/*        background-size: contain;*/
/*        height: 270px;*/
/*        width: 270px;*/
/*        border: 1px solid #EDEBE6;*/
/*        background-repeat: no-repeat;*/
/*        background-position: 50%;*/
/*    }*/

/*    .ItemSquare:hover {*/
/*        box-shadow: 0 0 11px rgba(33, 33, 33, .2);*/
/*    }*/
/*}*/

@media only screen and (max-width: 767px) {
    .add2 {
        display: none !important;
    }
    .add1 {
        width: 206% !important;
    }
}
@media only screen and (max-width: 400px) {
    .imageDiv {
        margin-left: -5% !important;
    }
}
@media only screen and (max-width: 376px) {
    .imageDiv {
        margin-left: -5% !important;
    }
    .price {
        margin-left: 27px !important;
    }
}
@media only screen and (max-width: 1199px) {
    .dropdownCategory {
        width: 118% !important;
    }
}

.bottomSearchArea {
    width: 100%;
    max-height: 150px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 300px;
    background-color: #0d0735;
    z-index: -10;
    opacity: 0;
    transition: 0.3s;
}

.bottomSearchArea.active {
    top: -50px;
    opacity: 1;
    transition: 0.3s;
}

.bottomForm {
    display: block;
    width: 92%;
    margin: 0 auto;
    padding: 10px 0;
}

.bottomSearchButton {
    outline: none;
    border: 0;
    background-color: transparent;
}

.colorRadioInput,
.sizeRadioInput {
    display: none;
}

.sizeRadio {
    height: 35px;
    padding: 5px;
    font-family: Arial-Arm-Regular;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* @media only screen and (max-width: 540px) {
    .ItemSquare {
        width: 151px !important;
        height: 151px !important;
    }
}

@media only screen and (max-width: 530px) {
    .ItemSquare {
        width: 148px !important;
        height: 148px !important;
    }
}

@media only screen and (max-width: 510px) {
    .ItemSquare {
        width: 166px !important;
    }
}

@media only screen and (max-width: 395px) {
    .ItemSquare {
        width: 140px !important;
    }
}

@media only screen and (max-width: 340px) {
    .ItemSquare {
        width: 125px !important;
        height: 125px !important;
    }
}

@media only screen and (max-width: 325px) {
    .ItemSquare {
        width: 125px !important;
        height: 125px !important;
    }
}

@media only screen and (max-width: 325px) {
    .productItem {
        width: 128px !important;
    }
} */

@media only screen and (max-width: 1200px) {
    .myPage {
        display: none !important;
    }
    .desktopInput {
        width: 118px !important;
    }
    .user {
        margin-right: -5px !important;
    }
}

.desktopInput {
    width: 133px !important;
}
/*
@media only screen and (max-width: 374px) {
    .ItemSquare {
        width: 145px !important;
        height: 145px !important;
    }
    .desc {
        width: 50px;
    }
    .saleNumber {
        margin-right: -14px !important;
    }
} */

/* @media only screen and (max-width: 524px) {
    .ItemSquare {
        width: 185px !important;
        height: 185px !important;
    }
} */

@media only screen and (max-width: 767px) {
    .userA {
        margin-right: -33px !important;
    }
}

/* @media only screen and (max-width: 420px) {
    .ItemSquare {
        width: 150px !important;
        height: 150px !important;
    }
}

@media only screen and (max-width: 330px) {
    .ItemSquare {
        width: 135px !important;
        height: 135px !important;
    }
} */

.saleNumber {
    text-align: center;
    z-index: 2;
    font-family: percent;
    line-height: 27px;
    font-size: 14px;
}

.partsContainer img {
    width: 15px;
}

.percent {
    text-align: center;
}
@media only screen and (max-width: 374px) {
    .percent {
        margin-right: 7px !important;
    }
}

nav {
    position: relative;
    display: inline-block;
    font-family: arialarmmedium;
}

nav .items {
    padding: 5px 32px;
    width: 100%;
}

/*.itemName {*/
/*    width: 170px;*/
/*}*/

nav .items .subMenu {
    display: none;
    position: absolute;
    top: 0;
    left: 105%;
    z-index: 5555;
    box-shadow: 5px 5px 50px -8px rgba(0, 0, 0, 0.75);
    background-color: white;
    height: 362px;
}

nav .items:hover .subMenu {
    display: block;
    width: 726px;
}

nav .items .subMenu .subItems {
    margin: 4px 11px;
}

nav .items .subMenu a {
    text-decoration: none;
}

input[type="file"] {
    max-width: 0px;
    max-height: 0px;
    opacity: 0;
}
#val {
    width: 400px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    line-height: 25px;
    text-indent: 10px;
    pointer-events: none;
}

#button {
    cursor: pointer;
}

.fade {
    opacity: 0 !important;
    transition: 2s ease-in-out;
}

.triangle-up {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #231d4a;
    position: absolute;
    margin-left: 43px;
    margin-top: -17px;
}

header {
    box-shadow: -5px 1px 19px 0px rgba(0, 0, 0, 1);
}

.cont {
    display: flex;
    background-color: #231d4a;
}

.saleNumber {
    background-color: #3a326d !important;
    color: #98f2fe !important;
}

/* .menuIcon{
    background-color: #231d4a;
    display: flex;
    align-items: center;
    margin-right: 18px;
    padding: 5px 5px;
} */

/* .menuIcon img{
    margin: 7px;
    width: 26px;
} */

/* @media only screen and (max-width: 530px) {
    .menuIcon span{
        display: none!important;
    }
    .menuIcon img{
        width: 30px!important;
        margin: 0;
    }
} */

/* @media only screen and (max-width: 450px) {
   .modalClose{
       margin-left: -25px!important;
   }
} */

@media only screen and (max-width: 1000px) {
    .leftMenuFlag {
        width: 90% !important;
    }
}

@media only screen and (max-width: 802px) {
    .leftMenuFlag {
        width: 100% !important;
    }
}

@media only screen and (max-width: 410px) {
    .leftMenuFlag {
        width: 113% !important;
    }
}

.leftMenuFlag {
    color: #007bff !important;
}

.leftMenuFlag a {
    text-decoration: none;
}

.container_first {
    padding: 0 19px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
    font-family: arialarmmedium;
}
.container_first div {
    width: 100%;
    margin-right: 2px;
    color: #98f2fe;
    display: flex;
    align-items: center;
    height: 50px;
}

.modalClose {
    font-size: 39px;
}

.parts {
    background-color: #231d4a;
    margin-bottom: 7px;
    display: flex !important;
    justify-content: center;
}

.parts img {
    height: 25px !important;
    width: 25px !important;
}

.languageDropdown,
.currencyDropdown {
    background-color: #231d4a;
    padding-left: 23px;
}

.container_first img {
    height: 15px;
    width: 15px;
    margin-right: 3px;
}

.container_first i {
    color: #98f2fe;
}

.langModal,
.exchangeModal {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.langModal div,
.exchangeModal div {
    background-color: #231d4a;
    width: 80%;
    height: 27%;
    color: #98f2fe;
    padding-top: 13px;
}

.form-check {
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-bottom: 33px;
}

.form-check-input {
    margin-right: -39px;
    position: unset;
    margin-top: 0;
}

.form-check img {
    width: 23px;
    margin-right: 5px;
}

.form-check div {
    display: flex;
    align-items: center;
}

.form-check input {
    margin-top: 15px;
}

.languageDropdown,
.currencyDropdown {
    justify-content: space-between;
}

.languageDropdown i,
.currencyDropdown i {
    margin-right: 12px;
}

@media only screen and (max-width: 400px) {
    .footerLogo :nth-child(2) {
        display: none !important;
    }

    .signIn h6 {
        display: none;
    }
    .signIn img {
        display: none;
    }
    .footerLogo :nth-child(3) {
        display: block !important;
    }
    .footerLogo {
        width: 36px !important;
    }
}

@media only screen and (min-width: 400px) {
    .userText {
        display: none !important;
    }
}

@media only screen and (max-width: 370px) {
    .numberOne div {
        width: 81px;
    }
}

.footerLogo :nth-child(3) {
    display: none;
}

.footerDiv {
    background-color: #07051a;
    width: 100%;
    display: flex;
    height: 180px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.footerLogo {
    width: 100px;
    display: flex;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.footerDiv i {
    font-size: 24px;
    margin-right: 17px;
    color: #98f2fe;
}

.footerLogo img {
    width: 100%;
    margin-left: 2px;
}

.numberOne {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.numberOne div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-family: Arial-Arm-Regular;
}

.contact {
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: arialarmmedium;
}

.secondDiv {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
}

.secondDiv div {
    display: flex;
    font-family: Arial-Arm-Regular;
    font-size: 13px;
    align-items: center;
}

.phone {
    margin-bottom: 5px;
}

.page-item.active .page-link {
    z-index: 0 !important;
}

/* @media only screen and (max-width: 860px) {
    .partsContainer span{
        display: none;
    }
    .menuIcon{
        padding: 5px 37px !important;
    }
} */

/* @media only screen and (max-width: 740px) {
    .menuIcon{
        padding: 5px 32px !important;
    }
} */

/* @media only screen and (max-width: 700px) {
    .menuIcon{
        padding: 5px 23px !important;
    }
    .container_first div{
        width: 46% !important;
        margin-right: 19px !important;
    }
} */

/* @media only screen and (max-width: 560px){
    .menuIcon {
        padding: 5px 19px !important;
    }
    .modalClose{
        left:80% !important;
    }
} */

/* @media only screen and (max-width: 500px) {
    .menuIcon img{
        width:20px !important;
    }
    .menuIcon i{
        font-size:20px !important;
    }
} */

@media only screen and (max-width: 864px) {
    .parts span {
        display: none !important;
    }
}
.filterButton {
    color: #0d0735;
    width: 99px;
    margin-bottom: 7px;
    display: flex;
    padding: 7px 0;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial-Arm-Regular;
    font-size: 14px;
    cursor: pointer;
    margin-left: 4px;
    border: 1px solid #edebe6;
}
.filterButton img {
    widows: 20px;
    height: 20px;
}
.dropdownHide {
    max-height: 0 !important;
    transition: 0.6s ease;
    opacity: 0;
    overflow: hidden !important;
}
.dropdownShow {
    max-height: 100%;
    transition: 0.8s ease;
    opacity: 1;
}
.squaredTwo {
    width: 16px;
    display: inline-flex;
    height: 17px;
    background: #0d0735;
    position: relative;
    border-radius: 3px;
}
.squaredTwo .label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 13px;
    left: 1px;
    top: 2px;
    background: #0d0735;
}
.squaredTwo .label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: "";
    position: absolute;
    width: 11px;
    height: 6px;
    background: transparent;
    top: 2px;
    left: 2px;
    border: 1px solid #98f2fe;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredTwo input[type="checkbox"]:checked + .label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.sliderright {
    width: 40px;
    height: 40px;
    margin-left: 32px;
    background-color: pink;
    border-radius: 50%;
    outline: none;
    border: 0;
}
.sliderleft,
.sliderright {
    cursor: pointer;
}
.middle {
    position: relative;
    width: 152px;
    max-width: 500px;
}
.slider {
    position: relative;
    z-index: 1;
    height: 10px;
}
.slider > .track {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #0d0735;
}
.slider > .range {
    position: absolute;
    z-index: 2;
    left: 25%;
    right: 25%;
    top: 0;
    bottom: 0;
    border-radius: 5px;
    background-color: #0d0735;
}
.slider > .thumb {
    position: absolute;
    z-index: 3;
    width: 15px;
    height: 15px;
    background-color: #98f2fe;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(98, 0, 238, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}
.slider > .thumb.left {
    left: 25%;
    transform: translate(-9px, -2px);
}
.slider > .thumb.right {
    right: 25%;
    transform: translate(10px, -2px);
}
input[type="range"] {
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 2;
    height: 10px;
    width: 100%;
    opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    width: 30px;
    height: 30px;
    border-radius: 0;
    border: 0 none;
    background-color: #0d0735;
    -webkit-appearance: none;
}
.call {
    outline: none;
    border: 0;
    background-color: #0d0735;
    color: #98f2fe;
    height: 44px;
    padding: 9px;
    margin-left: 53px;
}
@media only screen and (max-width: 374px) {
    .middle {
        width: 130px !important;
    }
    .call {
        margin-left: 27px !important;
    }
}

